@import '../../../_settings/_variables.scss';

.button-style {
    padding: 2px;
    border: 0;
    
    .image-button {
        width: $image-button-width;
        height: $image-button-height;
        margin: 0;
    }
}